/* media pc */
@media screen and (min-width: 1201px){
   
    .margin-card-meio{
        margin-right: 5%;  
    }
    .card-central{
        margin-left: 35%;
        margin-right: 35%;
    }
}

/* media de tablet  */
@media screen and (max-width: 1200px) and (min-width: 710px){
    
    .margin-card-meio{
        margin-right: 5%;  
    }
}

/* media de celular */
@media screen and (max-width: 709px){
    

}



/* media queries para diferenciar ipad e ipad pro   */
@media screen and (min-width: 992px){
    .separar{
        border-left: 1px solid #c3c4c6;
    }
}

@media screen and (max-width: 991px) {
    .separar{
        border-left: none;
    }
}


#corDoHr{
    color: #c3c4c6;
}

.menu-link{
    text-decoration: none;
    color: 
    #ffffff;
}

.menu-link:hover{
    color: #2382ff;
}


.margin-cards{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;   
}
.icones{
    margin-top: 2%;
    font-size: 100px;
}

.botao-card{
    padding: 0;
    border:none;
    background-color: rgba(255, 255, 255, 0);
}